<div class="flex">
  <form (submit)="addProductTemplateDriven()" #templateForm="ngForm">
    <h2>Product toevoegen<br>(template-driven / FormsModule)</h2>
    <ol>
      <li>
        <label for="input-product">Product:</label>
        <input id="input-product"
               [(ngModel)]="newProduct.product"
               name="product"
               required
               pattern="^[a-zA-Z0-9 .-]+$"
               #inputProduct="ngModel"> <!-- custom validations: Angular directive -->
        <span *ngIf="inputProduct.touched && inputProduct.invalid">*</span>
        <span *ngIf="inputProduct.touched && inputProduct.errors?.required">Vul
          dit veld in</span>
        <span *ngIf="inputProduct.touched && inputProduct.errors?.pattern">Alleen
          letters, cijfers en normale tekens graag</span>
      </li>
      <li>
        <label for="input-prijs">Prijs:</label>
        <input id="input-prijs"
               [(ngModel)]="newProduct.prijs"
               name="prijs"
               required>
      </li>
      <li>
        <label for="input-photo">Foto:</label>
        <input id="input-photo"
               [(ngModel)]="newProduct.photo"
               name="photo"
               required>
      </li>
      <li>
        <button [disabled]="templateForm.invalid">Voeg product toe</button>
      </li>
      <li>
        <pre>{{newProduct | json}}</pre>
      </li>
    </ol>
  </form>

  <form [formGroup]="addProductForm"
        (submit)="addProductReactive()">
    <h2>Product toevoegen<br>(model-driven / ReactiveFormsModule)</h2>
    <ol>
      <li>
        <label for="input-product">Product:</label>
        <input id="input-product"
               formControlName="product">
        <span *ngIf="f.product.touched && f.product.invalid">*</span>
        <span *ngIf="f.product.touched && f.product.errors?.required">Vul
          dit veld in</span>
        <span *ngIf="f.product.touched && f.product.errors?.pattern">Alleen
          letters, cijfers en normale tekens graag</span>
        <span *ngIf="f.product.touched && f.product.errors?.barbie">GEEN
          BARBIE</span>
      </li>
      <li>
        <label for="input-prijs">Prijs:</label>
        <input id="input-prijs"
               formControlName="prijs"
               type="number">
      </li>
      <li>
        <label for="input-photo">Foto:</label>
        <input id="input-photo"
               formControlName="photo">
      </li>
      <li>
        <label>Verwante producten:</label>

        <ul formArrayName="verwanteProducten">
          <li *ngFor="let product of vrijmarktproducten; let i = index" [formGroupName]="i">
            <input type="hidden" formControlName="productId" [value]="product.id">
            <input type="checkbox" formControlName="selected"> {{product.product}}
          </li>
        </ul>
      </li>
      <li>
        <button [disabled]="addProductForm.invalid">Voeg product toe</button>
      </li>
      <li>
        <pre>{{addProductForm.value | json}}</pre>
      </li>


    </ol>
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Product</th>
      <th>Prijs</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of vrijmarktproducten"
        [class.duur]="p.prijs > 20"
        (click)="p.prijs = p.prijs + 5">
      <td>{{p.id}}</td>
      <td>{{p.product | camelcase}}</td>
      <td>{{p.prijs | currency}}</td>
      <td><img [src]="p.photo"></td>
    </tr>
  </tbody>
</table>
