
name: {{name}}

<input [(ngModel)]="name">

<div [innerHTML]="name"></div>

<!--{{query}}-->

<hr>

ingebouwde pipes:
- lowercase/uppercase/titlecase
- currency
- number
- percent
- date
- async (Promises/Observables)
- json (debugdoeleinden)

<hr>

percent: {{percentage | percent}}<br>
nu: {{nu | date: 'dd MMMM yyyy'}}

<hr>

<button (click)="changeName()">Verander naam</button>

<button (click)="addProduct()">Voeg product toe</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Product</th>
      <th>Prijs</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of vrijmarktproducten"
        [class.duur]="p.prijs > 20"
        (click)="p.prijs = p.prijs + 5">
      <td>{{p.id}}</td>
      <td>{{p.product | camelcase}}</td>
      <td>{{p.prijs | currency}}</td>
      <td><img [src]="p.photo"></td>
    </tr>
  </tbody>
</table>